* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: deepskyblue;

}

.white {
  background-color: #eed4ac;
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}

.lost-figure {
  display: flex;
  margin: 10px 7px;
}

.timer {
  margin-right: 15px;
}

.player {
  margin-bottom: 25px;
}

.winner {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 700;
  color: red;
  text-align: center;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.button {
  cursor: pointer;
  margin-bottom: 15px;
  background-color: white;
  padding: 5px 15px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s ease 0s;
}

.start-button {
  background: #00FF00;
}

.start-button:hover,
.start-button:focus {
  color: white;
  background: #006400;
}

.restart-button {
  background-color: LightCoral;
}

.restart-button:hover,
.restart-button:focus {
  color: white;
  background: DarkRed;
}

.timer-title {
  margin-bottom: 15px;
}